<div class="form-inline justify-content-center">
  <%= form_tag(admin_eulas_path, method: :get) do %>
    <div class="row mb-3">
      <div class="col col-12 col-md-6">
        <%= label_tag :note, "Note", :for => :note, :class => "mb-2" %>
        <div class="field form-group">
          <%= text_field_tag :note, params[:note], :class => "form-control col-md-12" %>
          <small id="noteHelp" class="form-text text-muted">Case insensitive search; to use regex, view the <%= link_to "regex documentation", help_regex_path %></small>
        </div>
      </div>
      <div class="col col-12 col-md-6">
        <%= label_tag :eula_text, "Agreement Text", :for => :eula_text, :class => "mb-2" %>
        <div class="field form-group">
          <%= text_field_tag :eula_text, params[:eula_text], :class => "form-control col-md-12" %>
          <small id="eula_textHelp" class="form-text text-muted">Case insensitive search; to use regex, view the <%= link_to "regex documentation", help_regex_path %></small>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col col-12 col-md-3">
        <%= label_tag :publisher, "Publishing User ID", :for => :publisher, :class => "mb-2" %>
        <div class="field form-group">
          <%= text_field_tag :publisher, params[:publisher], :class => "form-control col-md-12" %>
          <small id="publisherHelp" class="form-text text-muted">A user's ID or primary email address</small>
        </div>
      </div>
      <div class="col col-12 col-md-3">
        <%= label_tag :start_time, "Date Published Start", :for => :start_time, :class => "card-text mb-2" %>
        <div class="field form-group">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                  <%= text_field_tag :start_time, params[:start_time], :class => "form-control datetimepicker-input col-md-12", data: { target: "#datetimepicker1" }, :rows => "1" %>
                  <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker" title="Interactive date/time selector">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker({
                        format: '<%= "#{@prefs[:js_dt_format]}" %>'
                        <%#= Documentation: https://tempusdominus.github.io/bootstrap-4/Options/#format %>
                    });
                });
            </script>
          </div>
          <small id="start_timeHelp" class="form-text text-muted">Lower inclusive boundary.<br />Format: <%= @prefs[:user_dt_format] %></small>
        </div>
      </div>
      <div class="col col-12 col-md-3">
        <%= label_tag :end_time, "Date Published End", :for => :end_time, :class => "card-text mb-2" %>
        <div class="field form-group">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                  <%= text_field_tag :end_time, params[:end_time], :class => "form-control datetimepicker-input col-md-12", data: { target: "#datetimepicker2" }, :rows => "1" %>
                  <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker" title="Interactive date/time selector">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker2').datetimepicker({
                        format: '<%= "#{@prefs[:js_dt_format]}" %>'
                        <%#= Documentation: https://tempusdominus.github.io/bootstrap-4/Options/#format %>
                    });
                });
            </script>
          </div>
          <small id="end_timeHelp" class="form-text text-muted">Upper inclusive boundary.<br />Format: <%= @prefs[:user_dt_format] %></small>
          <noscript>
            <small id="end_timeHelp" class="form-text text-muted">You have JavaScript disabled, the date picker will not work without it.</small>
          </noscript>
        </div>
      </div>
      <div class="col col-md-3">
        <%= label_tag :per_page, "Results per Page", :for => :per_page, :class => "mb-2" %>
        <div class="field form-group">
          <%= number_field_tag :per_page, params[:per_page], :min => PreferencesHelper.min_per_page, :max => PreferencesHelper.max_per_page, :class => "form-control col-md-12" %>
          <small id="per_pageHelp" class="form-text text-muted">Enter as a number from <%= PreferencesHelper.min_per_page %> to <%= PreferencesHelper.max_per_page %>. Default: <%= @prefs[:per_page] %></small>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <div class="actions">
          <%= link_to "Publish New TOS", new_admin_eula_path, class: "btn btn-secondary" %>
          <%= submit_tag 'Search', :class => "btn btn-primary col-auto float-right", :name => nil %>
        </div>
      </div>
    </div>
  <% end %>
</div>
