<%= render "admin/shared/admin_title" %>

<div class="row">
  <div class="col">
    <%= render "admin/shared/admin_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <h4 class="card-title">New Terms of Service</h4>
        <div class="row">
          <div class="col">
            <%= render 'form', eula: @eula %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

