<%= render "admin/shared/admin_title" %>

<div class="row">
  <div class="col">
    <%= render "admin/shared/admin_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <h4 class="card-title">Terms of Service <%= @eula.id %> Details</h4>

        <p class="card-text mb-0">
          Date Published:
          <%= ApplicationHelper.datetime_to_str(@eula.created_at, show_offset: false, show_seconds: true) %>
        </p>

        <p class="card-text mb-0">
          Published by:
          <% if @eula.user_id? %>
            <%= link_to "#{@eula.user.name} (ID #{@eula.user_id})", admin_manage_user_path(@eula.user_id) %>
          <% elsif @eula.publisher == Rails.configuration.application[:common][:system_user_id] %>
            <%= "ID #{@eula.publisher} (System)" %>
          <% else %>
            <%= "ID #{@eula.publisher} (Deleted)" %>
          <% end %>
        </p>

        <p class="card-text">
          <% if @eula.is_latest? %>
            <i>
              This is the currently active user agreement.
            </i>
          <% else %>
            <i>
              This is <b>not</b> the currently active user agreement.
              It has been succeeded by <a href="<%= admin_eula_path(Eula.get_latest_eula.id) %>">#<%= Eula.get_latest_eula.id %></a>.
            </i>
          <% end %>
        </p>

        <div class="card">
          <div class="card-header">
            <span>Note: <%= @eula.note %></span>
          </div>
          <div class="card-body">
            <%= markdown(@eula.eula_text) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
