<%= form_for(resource, as: resource_name, url: account_security_path, html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages" %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field form-group">
    <%= f.label :password, "New Password" %>
    <i>(<% if resource.minimum_password_length %><%= resource.minimum_password_length %> characters minimum; <% end %>leave blank if you do not want to change it)</i>
    <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, "Confirm New Password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
  </div>
  
  <%- if current_user.confirmable %>
    <div class="field form-group">
      <%= f.label :current_password, "Current Password" %> <i>(required to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Change Password", :class =>"btn btn-primary" %>
  </div>
<% end %>
