<%= render 'devise/shared/accept_tos_title' %>

<%= form_for(User.new, as: resource_name, url: policy_tos_path) do |f| %>
  <%#= render 'devise/shared/error_messages' %>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">User Agreement</h4>
          <p class="card-text">Please read this document carefully.</p>
          <hr />
          <%= markdown(Eula.get_latest_eula.eula_text) %>
          <%- if @UserPresent %>
            <%# @UserPresent is used instead of user_signed_in? because this form is used during registration/Oauth setup, during which time the user has not yet been authenticated but is present as a user in the system. %>
            <hr />
            <div class="field form-group form-check radio-buttons-tos">
              <%= f.radio_button :tos_accept, 'agree', :checked => true %>
              <%= f.label :tos_accept, "I agree to the terms and conditions above", :value => 'agree' %><br />
              <% if !@User&.is_banned? %>
                <%= f.radio_button :tos_accept, 'disagree-temp', :checked => false %>
                <%= f.label :tos_accept, "I do not agree to the terms and conditions above, but I wish to keep my account", :value => 'disagree-temp' %><br />
                <%= f.radio_button :tos_accept, 'disagree-perm', :checked => false %>
                <%= f.label :tos_accept, "I do not agree to the terms and conditions above, delete my account", :value => 'disagree-perm' %>
              <% elsif @User %>
                <%= f.radio_button :tos_accept, 'disagree-temp', :checked => false %>
                <%= f.label :tos_accept, "I do not agree to the terms and conditions above", :value => 'disagree-temp' %><br />
              <% end %>
            </div>
            <div class="actions">
              <%= f.submit "Continue", :class => "btn btn-primary", :role => "button" %>
            </div>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
<% end %>
