<%= render "devise/shared/account_title" %>

<%= render "devise/shared/error_messages" %>
<div class="row">
  <div class="col">
    <%= render "devise/shared/account_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <h4 class="card-title">Login Settings</h4>
        <div class="row">
          <div class="col-md-6">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <div class="card mb-4">
                <div class="card-body">
                  <h5 class="card-title">Change Account Information</h5>
                  <div class="field form-group">
                    <%= f.label :name, "Nickname (used for system emails; not publicly visible or related to the users in this database)" %><br>
                    <%= f.text_field :name, autofocus: true, autocomplete: "name", :class => "form-control" %>
                  </div>
                  <div class="field form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autocomplete: "email", :class => "form-control" %>
                  </div>
                  <div class="field form-group">
                    <div class="mb-2">
                      <%= f.label :backup_email, "Backup Email", :class => "mb-0" %>
                      <i> (optional; cannot be used for signing in but can be used for account recovery)</i>
                    </div>
                    <%= f.email_field :backup_email, autocomplete: "email", :class => "form-control" %>
                  </div>
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>

                  <div class="field form-group">
                    <div class="mb-2">
                      <%= f.label :password, "New Password", :class => "mb-0" %>
                      <i> (<% if @minimum_password_length %><%= @minimum_password_length %> characters minimum; <% end %>leave blank if you do not want to change it)
                      </i>
                    </div>
                    <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
                  </div>

                  <div class="field form-group">
                    <%= f.label :password_confirmation, "Confirm New Password" %><br>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control" %>
                  </div>

                  <%- if current_user.confirmable %>
                    <div class="field form-group">
                      <%= f.label :current_password, "Current Password" %> <i>(required to confirm your changes)</i><br />
                      <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control" %>
                    </div>
                  <% end -%>
                  
                  <div class="actions">
                    <%= f.submit "Update Information", :class => "btn btn-warning", :role => "button" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <%= render "devise/shared/sso" %>
          <div class="col-md-6">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Delete Account</h5>
                <p class="card-text">Removes your account and all integrations associated with it. This cannot be undone, but you can create a new account or sign in with other 3rd party integrations. This will not purge logs associated with your account.</p>
                <%= button_to "Delete My Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger", :role => "button" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%#= link_to "Back", :back, :class => "btn btn-secondary", :role => "button" %>
