<ul class="nav nav-tabs">
  <li class="nav-item">
    <%- if current_page?(controller: 'registrations', action: 'account_overview') %>
      <%= link_to "Overview", account_overview_path, :class => "nav-link active" %>
    <% else %>
      <%= link_to "Overview", account_overview_path, :class => "nav-link" %>
    <% end -%>
  </li>
  <li class="nav-item">
    <%- if (current_page?(account_settings_path) ||
            current_page?(edit_user_registration_path)) %>
      <%= link_to "Account Settings", account_settings_path, :class => "nav-link active" %>
    <% else %>
      <%= link_to "Account Settings", account_settings_path, :class => "nav-link" %>
    <% end -%>
  </li>
  <li class="nav-item">
    <%- if current_page?(controller: 'preferences', action: 'account_display_settings') %>
      <%= link_to "Appearance & Localization", account_ui_path, :class => "nav-link active" %>
    <% else %>
      <%= link_to "Appearance & Localization", account_ui_path, :class => "nav-link" %>
    <% end -%>
  </li>
  <li class="nav-item">
    <%- if (current_page?(controller: 'conversations') ||
            @messages_tab )%>
      <%= link_to conversations_path, :class => "nav-link active" do %>
        Messages
        <% if Conversation.user_unread_count(current_user.id) > 0 %>
          <span class="badge badge-primary badge-pill"><%= Conversation.user_unread_count(current_user.id) %></span>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to conversations_path, :class => "nav-link" do %>
        Messages
        <% if Conversation.user_unread_count(current_user.id) > 0 %>
          <span class="badge badge-primary badge-pill"><%= Conversation.user_unread_count(current_user.id) %></span>
        <% end %>
      <% end %>
    <% end -%>
  </li>
  <li class="nav-item">
    <%- if current_page?(controller: 'preferences', action: 'account_notification_settings') %>
      <%= link_to "Notifications", account_notifications_path, :class => "nav-link active" %>
    <% else %>
      <%= link_to "Notifications", account_notifications_path, :class => "nav-link" %>
    <% end -%>
  </li>
  <li class="nav-item">
    <%- if current_page?(controller: 'reports', action: 'index') %>
      <%= link_to "Reports", reports_path, :class => "nav-link active" %>
    <% else %>
      <%= link_to "Reports", reports_path, :class => "nav-link" %>
    <% end -%>
  </li>
  <li class="nav-item">
    <%- if (current_page?(controller: 'registrations', action: 'account_security_settings') ||
        current_page?(controller: 'registrations', action: 'account_manage_totp') ||
        current_page?(controller: 'registrations', action: 'account_recovery_codes') ||
        current_page?(controller: 'credentials', action: 'index') ||
        @SecurityTabPage ||
        # See CredentialsController#edit for an explanation of this variable
        current_page?(account_security_2fa_u2f_add_path)) %>
      <%= link_to "Security", account_security_path, :class => "nav-link active" %>
    <% else %>
      <%= link_to "Security", account_security_path, :class => "nav-link" %>
    <% end -%>
  </li>
</ul>
