<%- if resource.errors.any? %>
  <div id="error_explanation">
    <h5>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.full_messages.uniq.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h5>
    <ul>
      <% resource.errors.full_messages.uniq.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end -%>