<%= form_with model: @ban, url: admin_user_ban_path(@user.id), local: true do |form| %>
  <% if !@ban.nil? && @ban.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@ban.errors.count, "error") %> prohibited this ban from being created:</h4>
      <ul>
      <% @ban.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <hr />
  <% end %>
  <% if !@user.nil? && @user.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited the ban from taking affect for the user:</h4>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <hr />
  <% end %>
  <div class="field form-group">
    <%= form.label :internal_reason, "Internal Ban#{' Reversal' if @prefs[:unban]} Reason", :for => :ban_reason_internal, :class => "card-text" %>
    <%= form.text_area :internal_reason, :id => :ban_reason_internal, :class => "form-control", autofocus: true %>
    <small id="internal_reasonHelp" class="form-text text-muted">Internal reason for their ban<%= " reversal" if @prefs[:unban] %> (will only be visible to admins; intended for naming specific things the user has done; must be included, maximum <%= Ban.max_internal_reason_length %> characters).</small>
  </div>
  <div class="field form-group">
    <%= form.label :external_reason, "External Ban#{' Reversal' if @prefs[:unban]} Reason", :for => :ban_reason_external, :class => "card-text" %>
    <%= form.text_field :external_reason, :id => :ban_reason_external, :class => "form-control" %>
    <small id="external_reasonHelp" class="form-text text-muted">User-visible reason for their ban<%= " reversal" if @prefs[:unban] %> (must be included, maximum <%= Ban.max_external_reason_length %> characters).</small>
  </div>
  <%- if !@prefs[:unban] %>
    <div class="field form-group">
      <%= form.label :ban_end_time, "Ban Expiration", :for => :ban_expiration, :class => "card-text mb-2" %>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
              <%= form.text_field :ban_end_time, :id => :ban_expiration, :class => "form-control datetimepicker-input col-md-12", data: { target: "#datetimepicker1" }, :rows => "1" %>
              <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker" title="Interactive date/time selector">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
            <small id="banned_untilHelp" class="form-text text-muted">When the user will be unbanned (will be displayed to the user).<br />Format: <%= @prefs[:user_dt_format] %>, or check the "Permanent Ban" box below for the ban to never be lifted.</small>
          </div>
        </div>
        <script type="text/javascript">
        $(function () {
          $('#datetimepicker1').datetimepicker({
            format: '<%= "#{@prefs[:js_dt_format]}" %>'
            <%#= Documentation: https://tempusdominus.github.io/bootstrap-4/Options/#format %>
          });
        });
        </script>
      </div>
      <%= form.check_box :permanent_ban, id: :permanent_ban, :class => "field form-group form-check-input" %>
      <%= form.label :permanent_ban, "Permanent Ban", :for => :permanent_ban %>
    </div>
    <%= form.hidden_field :ban_reversal, id: :ban_reversal, :value => false %>
  <% else %>
    <%= form.hidden_field :ban_reversal, id: :ban_reversal, :value => true %>
  <% end -%>
  <%- if params[:type] == 'adjust' %>
    <%= form.hidden_field :ban_adjustment, id: :ban_adjustment, :value => true %>
  <% end -%>
  <div class="actions">
    <%- if params[:type] == 'adjust' %>
      <%= form.submit "Adjust Ban", :role => "button", :class => "btn btn-primary" %>
    <% elsif @prefs[:unban] %>
      <%= form.submit "Unban User", :role => "button", :class => "btn btn-primary" %>
    <% else %>
      <%= form.submit "Ban User", :role => "button", :class => "btn btn-primary" %>
    <% end -%>
  </div>
<% end %>
