<%= render "admin/shared/admin_title" %>

<div class="row">
  <div class="col">
    <%= render "admin/shared/admin_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <% if !@search_errors.nil? && @search_errors.any? %>
          <div id="error_explanation">
            <h4><%= pluralize(@search_errors.count, "error") %> prohibited your search from being executed:</h4>
            <ul>
              <% @search_errors.each do |attr, message| %>
                <li><%= "#{attr} #{message}" %></li>
              <% end %>
            </ul>
            <p class="card-text">A blank search has been executed.</p>
          </div>
          <hr />
        <% end %>
        <h4 class="card-title">User Reports</h4>

        <%= render 'admin/dashboard/reports_search_form' %>
        <table class="table table-bordered table-striped table-responsive">
          <thead>
            <tr>
              <th scope="col" colspan="4" class="border-bottom-0">Message Info</th>
              <th scope="col" colspan="5" class="border-bottom-0">Report Info</th>
            </tr>
            <tr>
              <th scope="col"><%= report_sort_link "msg_id", "ID" %></th>
              <th scope="col"><%= report_sort_link "msg_channel", "Channel" %></th>
              <th scope="col"><%= report_sort_link "msg_sender", "Sender" %></th>
              <th scope="col">Message</th>
              <th scope="col"><%= report_sort_link "id", "ID" %></th>
              <th scope="col"><%= report_sort_link "created_at", "Date Filed" %></th>
              <th scope="col">Reason</th>
              <th scope="col"><%= report_sort_link "resolved", "Resolved?" %></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <%- if @reports.count == 0 %>
              <tr>
                <td colspan="9">No reports</td>
              </tr>
            <% else %>
              <%- @reports.each do |report| %>
                <tr class="<%= 'table-primary' if !params[:highlight].nil? && report.id == params[:highlight].to_i %>">
                  <td><%= report.msg_id %></td>
                  <td><%= report.msg_channel %></td>
                  <td><%= report.msg_sender %></td>
                  <td><%= report.msg_text %></td>
                  <td><%= report.id %></td>
                  <td><%= ApplicationHelper.datetime_to_str(report.created_at, show_offset: false) %></td>
                  <td><%= report.report_reason %></td>
                  <td>
                    <%- if report.resolved? %>
                      Yes - <%= report.resolving_action %>
                    <% else %>
                      No
                    <% end -%>
                  </td>
                  <td>
                    <%- if !report.resolved? %>
                      <%= link_to 'Resolve', resolve_report_path(report.id, :from_admin => true), :class => "btn btn-primary" %>
                    <% end -%>
                    <%= link_to 'Show', report, method: :get, :class => "text-primary" %>
                  </td>
                </tr>
              <% end -%>
            <% end -%>
          </tbody>
        </table>
        <div class="pagination justify-content-center">
          <%= paginate @reports, theme: 'bootstrap4' %>
        </div>
      </div>
    </div>
  </div>
</div>
