<%= render "admin/shared/admin_title" %>

<div class="row">
  <div class="col">
    <%= render "admin/shared/admin_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <%- if !@search_errors.nil? && @search_errors.any? %>
          <div id="error_explanation">
            <h4><%= pluralize(@search_errors.count, "error") %> prohibited your search from being executed:</h4>
            <ul>
              <% @search_errors.each do |attr, message| %>
                <li><%= "#{attr} #{message}" %></li>
              <% end %>
            </ul>
            <p class="card-text">A blank search has been executed.</p>
          </div>
          <hr />
        <% end -%>
        <h4 class="card-title">User Searches</h4>

        <%= render 'admin/dashboard/searches_search_form' %>
        <noscript>
          <style> .collapse:not(.show){ display:contents; } </style>
          <!-- Auto-uncollapse items when JavaScript is disabled -->
          <p class="card-text">To collapse search query details, you must enable JavaScript.</p>
        </noscript>
        
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col"><%= dash_search_sort_link "query_type", "Search Type" %></th>
                <th scope="col"><%= dash_search_sort_link "user_id", "User ID" %></th>
                <th scope="col"><%= dash_search_sort_link "execution_time", "Execution Time (Seconds)" %></th>
                <th scope="col"><%= dash_search_sort_link "created_at", "Date" %></th>
                <th scope="col" colspan="2">Errors</th>
              </tr>
            </thead>
            <tbody>
              <%- if @Searches.count == 0 %>
                <tr>
                  <td colspan="6">No searches</td>
                </tr>
              <% else %>
                <%- @Searches.each do |search| %>
                  <tr>
                    <td><%= Admin::DashboardHelper.dash_search_types.key(search.query_type) %></td>
                    <td><%= search.user_id %></td>
                    <td><%= search.execution_time %></td>
                    <td><%= ApplicationHelper.datetime_to_str(search.created_at, show_offset: false) %></td>
                    <td class="border-right-0"><%= if search.query_notes && search.query_notes['error'] then "Yes" else "None" end %></td>
                    <td class="border-left-0">
                      <button class="btn btn-primary float-right accordion-row-toggler" type="button" data-toggle="collapse" data-target="#collapse<%= search.id %>" aria-expanded="false" aria-controls="collapse<%= search.id %>">
                        Details <i class="fas fa-chevron-circle-down"></i>
                      </button>
                    </td>
                  </tr>
                  <tr class="collapse" id="collapse<%= search.id %>">
                    <td colspan="7">
                      <div>
                        <div>
                          <ul>
                            <%- if search.query_type == "basic" %>
                              <li><b>Query:</b>
                                <%- if search.search_params['basic_query'] %>
                                  <code> <%= search.search_params['basic_query'] %></code>
                                <% else %>
                                  (submitted with no query)
                                <% end -%>
                              </li>
                              <li><b>Highlighted Message:</b> <%= search.search_params['highlight'] || "(none)" %></li>
                            <% elsif search.query_type == "advanced" %>
                              <li><b>Channel:</b> <%= search.search_params['channel'] || "(none)" %></li>
                              <li><b>Sender:</b> <%= search.search_params['sender'] || "(none)" %></li>
                              <li><b>Query:</b>
                                <%- if search.search_params['advanced_query'] && search.search_params['advanced_query'].length > 0 %>
                                  <code><%= search.search_params['advanced_query'] %></code>
                                <% else %>
                                  (submitted with no query)
                                <% end -%>
                              </li>
                              <li><b>Case Sensitive:</b> <%= search.search_params['case_sensitive'].to_s.capitalize %></li>
                              <li><b>Starting Time:</b>
                                <%- if search.search_params['start_time'] && search.search_params['start_time'].to_s.length > 0 %>
                                  <%= search.search_params['start_time'] %>
                                <% else %>
                                  (none)
                                <% end -%>
                              </li>
                              <li><b>Ending Time:</b>
                                <%- if search.search_params['end_time'] && search.search_params['end_time'].to_s.length > 0 %>
                                  <%= search.search_params['end_time'] %>
                                <% else %>
                                  (none)
                                <% end -%>
                              </li>
                              <li><b>Starting ID:</b> <%= search.search_params['start_id'] || "(none)" %></li>
                              <li><b>Base ID:</b> <%= search.search_params['base_id'] || "(none)" %></li>
                              <li><b>Ending ID:</b> <%= search.search_params['end_id'] || "(none)" %></li>
                              <li><b>Highlighted Message:</b> <%= search.search_params['highlight'] || "(none)" %></li>
                            <% elsif search.query_type == "context" %>
                              <li><b>Base ID:</b> <%= search.search_params['base_id'] %></li>
                              <li><b>Highlighted Message:</b> <%= search.search_params['highlight'] || "(none)" %></li>
                            <% elsif search.query_type == "search_browse" %>
                            <% elsif search.query_type == "search_query" %>
                              <li><b>Query Type Searched For:</b> <%= Admin::DashboardHelper.dash_search_types.key(search.search_params['searched_type']) %> (<%= search.search_params['searched_type'] %>)</li>
                              <li><b>Errors Searched For:</b> <%= Admin::DashboardHelper.dash_search_errors.key(search.search_params['searched_errors']) %> (<%= search.search_params['searched_errors'] %>)</li>
                              <li><b>Query Scope:</b> <%= Admin::DashboardHelper.dash_search_scopes.key(search.search_params['searched_scope']) %> (<%= search.search_params['searched_type'] %>)</li>
                              <li><b>User ID Searched For:</b> <%= search.search_params['searched_id'] || "(none)" %></li>
                              <li><b>Minimum Execution Time:</b>
                                <%- if search.search_params['exec_time_min'] %>
                                  <%= search.search_params['exec_time_min'] %> seconds
                                <% else %>
                                  (none)
                                <% end -%>
                              </li>
                              <li><b>Maximum Execution Time:</b>
                                <%- if search.search_params['exec_time_max'] %>
                                  <%= search.search_params['exec_time_max'] %> seconds
                                <% else %>
                                  (none)
                                <% end -%>
                              </li>
                              <li><b>Search Start Time:</b>
                                <%- if search.search_params['start_time'] && search.search_params['start_time'].to_s.length > 0 %>
                                  <%= search.search_params['start_time'] %>
                                <% else %>
                                  (none)
                                <% end -%>
                              </li>
                              <li><b>Search End Time:</b>
                                <%- if search.search_params['end_time'] && search.search_params['end_time'].to_s.length > 0 %>
                                  <%= search.search_params['end_time'] %>
                                <% else %>
                                  (none)
                                <% end -%>
                              </li>
                            <% elsif search.query_type == "report_browse" %>
                            <% elsif search.query_type == "report_query" %>
                              <li><b>Report Type Searched For:</b> <%= Admin::DashboardHelper.dash_report_statuses.key(search.search_params['searched_type']) %> (<%= search.search_params['searched_type'] %>)</li>
                              <li><b>Report Reason Query:</b>
                                <%- if search.search_params['reason_query'] && search.search_params['reason_query'].length > 0 %>
                                  <code><%= search.search_params['reason_query'] %></code>
                                <% else %>
                                  (submitted with no query)
                                <% end -%>
                              </li>
                              <li><b>Reporter (ID) Searched For:</b> <%= search.search_params['searched_id'] || "(none)" %></li>
                              <li><b>Message ID:</b> <%= search.search_params['base_id'] || "(none)" %></li>
                              <li><b>Message Channel:</b> <%= search.search_params['channel'] || "(none)" %></li>
                              <li><b>Message Sender:</b> <%= search.search_params['sender'] || "(none)" %></li>
                              <li><b>Message Text Query:</b>
                                <%- if search.search_params['message_query'] && search.search_params['message_query'].length > 0 %>
                                  <code><%= search.search_params['message_query'] %></code>
                                <% else %>
                                  (submitted with no query)
                                <% end -%>
                              </li>
                              <li><b>Resolver (ID) Searched For:</b> <%= search.search_params['resolver'] || "(none)" %></li>
                              <li><b>Starting Time Reported:</b>
                                <%- if search.search_params['start_time'] && search.search_params['start_time'].to_s.length > 0 %>
                                  <%= search.search_params['start_time'] %>
                                <% else %>
                                  (none)
                                <% end -%>
                              </li>
                              <li><b>Ending Time Reported:</b>
                                <%- if search.search_params['end_time'] && search.search_params['end_time'].to_s.length > 0 %>
                                  <%= search.search_params['end_time'] %>
                                <% else %>
                                  (none)
                                <% end -%>
                              </li>
                              <li><b>Highlighted Report:</b> <%= search.search_params['highlight'] || "(none)" %></li>
                            <% elsif search.query_type == "report_browse_user" %>
                            <% elsif search.query_type == "report_query_user" %>
                              <li><b>Report Type Searched For:</b> <%= Admin::DashboardHelper.dash_report_statuses.key(search.search_params['searched_type']) %> (<%= search.search_params['searched_type'] %>)</li>
                              <li><b>Report Reason Query:</b>
                                <%- if search.search_params['reason_query'] && search.search_params['reason_query'].length > 0 %>
                                  <code><%= search.search_params['reason_query'] %></code>
                                <% else %>
                                  (submitted with no query)
                                <% end -%>
                              </li>
                              <li><b>Message ID:</b> <%= search.search_params['base_id'] || "(none)" %></li>
                              <li><b>Message Channel:</b> <%= search.search_params['channel'] || "(none)" %></li>
                              <li><b>Message Sender:</b> <%= search.search_params['sender'] || "(none)" %></li>
                              <li><b>Message Text Query:</b>
                                <%- if search.search_params['advanced_query'] && search.search_params['advanced_query'].length > 0 %>
                                  <code><%= search.search_params['advanced_query'] %></code>
                                <% else %>
                                  (submitted with no query)
                                <% end -%>
                              </li>
                              <li><b>Starting Time Reported:</b>
                                <%- if search.search_params['start_time'] && search.search_params['start_time'].to_s.length > 0 %>
                                  <%= search.search_params['start_time'] %>
                                <% else %>
                                  (none)
                                <% end -%>
                              </li>
                              <li><b>Ending Time Reported:</b>
                                <%- if search.search_params['end_time'] && search.search_params['end_time'].to_s.length > 0 %>
                                  <%= search.search_params['end_time'] %>
                                <% else %>
                                  (none)
                                <% end -%>
                              </li>
                            <% else %>
                            
                            <% end -%>
                            <li><b>Page:</b> <%= search.search_params['page'] || 1 %></li>
                            <li><b>Results per Page:</b> <%= search.search_params['per_page'] %> <%= if search.search_params['custom_per_page'] then "(not the user's default)" else "(user's default)" end %></li>
                            <li><b>Sorting Column:</b> <%= search.search_params['sort_column']&.capitalize %></li>
                            <li><b>Sorting Direction:</b> <%= sort_direction(direction: search.search_params['sort_direction'], human_readable: true) %></li>
                            <li><b>Results:</b> <%= search.results %></li>
                            <li><b>Errors:</b> <code><%= search.query_notes %></li></code>
                            <li><b>URL:</b> <code><%= search.url %></li></code>
                          </ul>
                        </div><div>
                          <a href="#">More Information (Not Yet Implemented)</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                <% end -%>
              <% end -%>
            </tbody>
          </table>
          <div class="pagination justify-content-center">
            <%= paginate @Searches, theme: 'bootstrap4' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
