<%= render "devise/shared/account_title" %>

<div class="row">
  <div class="col">
    <%= render "devise/shared/account_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <%- if !@SearchErrors.nil? && @SearchErrors.any? %>
          <div id="error_explanation">
            <h4><%= pluralize(@SearchErrors.count, "error") %> prohibited your search from being executed:</h4>
            <ul>
              <% @SearchErrors.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
            <p class="card-text">A blank search has been executed.</p>
          </div>
          <hr />
        <% end -%>
        <h4 class="card-title">Message Details - <%= @conversation.subject %></h4>
        <noscript>
          <style> .collapse:not(.show){ display:contents; } </style>
          <!-- Auto-uncollapse items when JavaScript is disabled -->
          <p class="card-text">To collapse message edit forms and raw markdown panels, you must enable JavaScript.</p>
        </noscript>

        <% @conversation.messages.where(user_visible: true).order(:created_at).each do |message| %>
          <div class="card<%= " border-dark" if message.user_relative_id % 2 == 0 %>">
            <div class="card-header">
              <span>
                #<%= message.user_relative_id %>
                <% if !message.sent_anonymously %>
                  <% if message.sent_by == Rails.configuration.application[:common][:system_user_id] %>
                    System
                  <% else %>
                    <%= message.sender&.name || "(Deleted User)" %>
                  <% end %>
                <% else %>
                  An Admin
                <% end %>
              </span>
              <span class="float-right"><%= ApplicationHelper.datetime_to_str(message.created_at, show_offset: false) %>
                <% if message.edited? %>
                  (edited at <%= ApplicationHelper.datetime_to_str(message.edited_at, show_offset: false) %>)
                <% end %>
              </span>
            </div>
            <div class="card-body">
              <p><%= markdown(message.body) %></p>
              <span class="float-right text-muted">
                <a class="accordion-row-toggler" role="button" data-toggle="collapse" data-target="#source-collapse<%= message.user_relative_id %>" href="#source-collapse<%= message.user_relative_id %>" aria-expanded="false" aira-controls="source-collapse<%= message.user_relative_id %>">View Source <i class="fas fa-chevron-circle-down"></i></a>
                <% if message.editable? && message.sent_by == current_user.id %>
                  |
                  <a class="accordion-row-toggler" role="button" data-toggle="collapse" data-target="#edit-collapse<%= message.user_relative_id %>" href="#edit-collapse<%= message.user_relative_id %>" aira-expanded="false" aria-controls="edit-collapse<%= message.user_relative_id %>" title="Editable until <%= ApplicationHelper.datetime_to_str(message.edit_period_end, show_offset: false) %>">
                    Edit <i class="fas fa-chevron-circle-down"></i>
                  </a>
                <% end %>
                <% if message.sender_id == current_user.id %>
                   | <%= link_to "Mark as Unread", conversation_mark_unread_path(message.id, conversation_id: @conversation.id), method: :post, data: { message_id: message.id } %>
                <% end %>
                <% if message.sender_id == current_user.id && message.deletable? %>
                   | <%= link_to "Delete", conversation_message_path(message.id, conversation_id: @conversation.id), method: :delete, data: { message_id: message.id, confirm: 'Are you sure?' } %>
                <% end %>
              </span>
              <span class="collapse" id="source-collapse<%= message.user_relative_id %>">
                <label>Raw Markdown</label>
                <pre class="codeblock-fenced"><%= message.body %></pre>
              </span>
              <% if message.editable? && message.sent_by == current_user.id %>
                <span class="collapse" id="edit-collapse<%= message.user_relative_id %>">
                  <%= render 'messages/user_edit_form', message: message %>
                </span>
              <% end %>
            </div>
          </div>
        <% end %>

        <br />
        <% if !@conversation.locked %>
          <%= render 'messages/user_form', message: Message.new %>
        <% else %>
          <span>Thread locked. No further messages can be sent.</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
