<%= form_with(model: conversation, url: admin_conversations_path, local: true) do |f| %>
  <% if !conversation.nil? && conversation.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(conversation.errors.count, "error") %> prohibited this message from being saved:</h4>

      <ul>
        <% conversation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <hr />
  <% end %>

  <div class="field form-group">
    <%= f.label :user_id, "Recipient User ID", :for => :conversation_user_id %>
    <%= f.text_field :user_id, id: :conversation_user_id, :class => "form-control", :rows => "1" %>
		<small id="conversation_target_idHelp" class="form-text text-muted">ID of the target user (not email). If you go to a user's profile page and click on "Send Message to User", it will automatically be filled in.</small>
  </div>

  <div class="field form-group">
    <%= f.label :subject, "Subject", :for => :conversation_subject %>
    <%= f.text_field :subject, id: :conversation_subject, :class => "form-control", :rows => "1" %>
    <small id="conversation_subjectHelp" class="form-text text-muted">Maximum <%= Conversation.max_subject_length %> characters, Markdown not supported.</small>
  </div>

	<%= f.fields_for :messages do |f2| %>
	  <div class="field form-group">
		  <%= f2.label :body, "Message", :for => :message_body %>
		  <%= f2.text_area :body, id: :message_body, :class => "form-control", :rows => "4" %>
      <small id="message_bodyHelp" class="form-text text-muted">You can use <%= link_to "Markdown", help_markdown_path%> in this field. Inlined HTML will be ignored; maximum <%= Message.max_body_length %> characters.</small>
      <br />
      <%= f2.check_box :sent_anonymously, id: :message_sent_anonymously_checkbox, :class => "field form-group form-check-input" %>
      <%= f2.label :sent_anonymously, "Send anonymously (user will be unable to see your name)", :for => :message_sent_anonymously_checkbox %>
    </div>
	<% end %>

  <div class="actions">
    <%= f.submit "Send", :class => "btn btn-primary", :role => "button" %>
  </div>
<% end %>
