<%= render "admin/shared/admin_title" %>

<div class="row">
  <div class="col">
    <%= render "admin/shared/admin_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <%- if !@search_errors.nil? && @search_errors.any? %>
          <div id="error_explanation">
            <h4><%= pluralize(@search_errors.count, "error") %> prohibited your search from being executed:</h4>
            <ul>
              <% @search_errors.each do |attr, message| %>
                <li><%= "#{attr} #{message}" %></li>
              <% end %>
            </ul>
            <p class="card-text">A blank search has been executed.</p>
          </div>
          <hr />
        <% end -%>
        <h4 class="card-title">User Messages</h4>
        <%= render 'admin/conversations/search_form' %>

				<div class="table-responsive">
				  <table class="table table-bordered table-striped">
				  	<thead>
				  		<tr>
                <th scope="col"><%= dash_conversation_search_sort_link "subject", "Subject" %></th>
                <th scope="col"><%= dash_conversation_search_sort_link "target_id", "Target User"%></th>
                <th scope="col"><%= dash_conversation_search_sort_link "created_at", "Date Sent" %></th>
                <th scope="col">Last Response</th>
                <th scope="col">Unreads</th>
                <th scope="col" colspan="2">Closed?</th>
				  		</tr>
				  	</thead>
				  	<tbody>
				  		<% if @conversations.count == 0 %>
				  			<td colspan="7">No messages found</td>
				  		<% else %>
				  			<% @conversations.each do |conversation| %>
				  				<tr class="<%= 'table-primary' if !params[:highlight].nil? && conversation.id == params[:highlight].to_i %>">
				  				  <td><%= conversation.subject %></td>
                    <td>
                      <%- if conversation.target %>
                        <%= link_to conversation.target.name, admin_manage_user_path(conversation.target) %>
                      <% else %>
                        <%= "ID #{conversation.target_id} (Deleted User)" %>
                      <% end -%>
                    </td>
                    <td><%= ApplicationHelper.datetime_to_str(conversation.created_at, show_offset: false, show_seconds: true) %> by
                      <%- if conversation.creator %>
                        <%= link_to conversation.creator.name, admin_manage_user_path(conversation.creator) %>
                      <% elsif conversation.created_by == Rails.configuration.application[:common][:system_user_id] %>
                        <%= "ID #{conversation.created_by} (System)" %>
                      <% else %>
                        <%= "ID #{conversation.created_by} (Deleted User)" %>
                      <% end -%>
                      <% if conversation.messages.last.sent_anonymously %>
                        (Anonymously)
                      <% end %>
                    </td>
                    <td><%= ApplicationHelper.datetime_to_str(conversation.messages.last.created_at, show_offset: false, show_seconds: true) %> by
                      <%- if conversation.messages.last.sender %>
                        <%= link_to conversation.messages.last.sender.name, admin_manage_user_path(conversation.messages.last.sender) %>
                      <% elsif conversation.created_by == Rails.configuration.application[:common][:system_user_id] %>
                        <%= "ID #{conversation.created_by} (System)" %>
                      <% else %>
                        <%= "ID #{conversation.messages.last.sent_by} (Deleted User)" %>
                      <% end -%>
                      <% if conversation.messages.last.sent_anonymously %>
                        (Anonymously)
                      <% end %>
                    </td>
				  				  <td><%= conversation.admin_unread_count %></td>
				  				  <td><%= conversation.locked.to_s.capitalize %></td>
                    <td><%= link_to "View", admin_conversation_path(conversation.id) %>
				  				</tr>
				  			<% end %>
				  		<% end %>
				  	</tbody>
				  </table>
				</div>
        <div class="pagination justify-content-center">
          <%= paginate @conversations, theme: 'bootstrap4' %>
        </div>
      </div>
    </div>
  </div>
</div>
