<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render 'devise/shared/error_messages' %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field form-group">
    <%= f.label :password, "New Password" %>
    <i>(<% if resource.minimum_password_length %><%= resource.minimum_password_length %> characters minimum; <% end %>leave blank if you do not want to change it)</i>
    <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, "Confirm New Password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password", :class =>"btn btn-primary" %>
  </div>
<% end %>
