<h2>Forgot your password?</h2>

<br />
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render 'devise/shared/error_messages' %>
          
          <div class="field form-group">
            <%= f.label :email, "Email" %><br>
            <%= f.email_field :email, autocomplete: "email", :class => "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Send me Reset Instructions", :class => "btn btn-primary", :role => "button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%#= render "devise/shared/links" %>
