<h1>Welcome!</h1>

<p>Quick Links:</p>
<ul>
<li><p><%= link_to 'View Logs', chat_logs_path %></p></li>
<li><p><%= link_to 'Account Overview', account_overview_path %></p></li>
<li><p><%= link_to 'Basic Account Settings', account_overview_path %></p></li>
<li><p><%= link_to 'Appearance/Localization Settings', account_ui_path %></p></li>
<li><p><%= link_to 'Notification Settings', account_notifications_path %></p></li>
<li><p><%= link_to 'View Reports', reports_path %></p></li>
<li><p><%= link_to 'Security Settings', account_security_path %></p></li>
<li><p><%= link_to 'View/Accept TOS', policy_tos_path %></p></li>
</ul>
