<%= render "devise/shared/two_factor_title" %>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <%= form_for(User.new, as: resource_name, url: account_auth_2fa_totp_path) do |f| %>
          <%#= render 'devise/shared/error_messages' %>
          <h5 class="card-title">Authenticate via One-Time Password (TOTP) or Recovery Code</h5>
          <div class="field form-group">
            <%= f.label :otp_attempt, "Type the recovery code or enter the time-based code on your device's Authy, Duo, Google Authenticator, or other TOTP app.", :class => "card-text" %>
            <%= f.text_field :otp_attempt, :value => "", :class => "form-control", :autocomplete => "off", :autofocus => "true" %>
            <%- if @UserHasTOTP %>
              <small id="otp_attemptHelp" class="form-text text-muted">If you have lost your device, use a recovery code. If you never generated any recovery codes, contact the administrator.</small>
            <% else %>
              <small id="otp_attemptHelp" class="form-text text-muted">You cannot use the same recovery code twice, so make sure to generate new codes after you login. If you have run out of codes or they are not working, contact the administrator.</small>
            <% end -%>
          </div>
          
          <%= f.submit "Submit", :class => "btn btn-primary", :role => "button" %>
          <%- if @UserHasU2F %>
            <%= link_to "Use U2F Token", account_auth_2fa_u2f_prompt_path, :class => "btn btn-secondary" %>
          <% end -%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%#= render "devise/shared/links" %>
