@import "application";
@import "themes/dark/darkly_bootstrap";
/*@import "themes/dark/darkly_variables";
 *@import "themes/dark/darkly_bootswatch";
 * Not entirely sure I need these, the site seems just fine without them.
 * Downloaded from: https://bootswatch.com/ (theme: Darkly)
 */

/* Make table text more readable */
.table {
  color: inherit;
}

/* Href colors in highlighted table rows is invisible because
 * it matches the background, this overrides the default color
 * and makes them visible again.
 */
.table tr.table-primary td a.text-primary {
  color: #FFF !important;
}
