<%= render "devise/shared/account_title" %>

<div class="row">
  <div class="col">
    <%= render "devise/shared/account_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <h4 class="card-title">Delete U2F Token</h4>
        <h6 class="card-title">Authenticate via Hardware Token (U2F)</h6>
        <p class="card-text">You must use an existing 2FA method to disable a 2FA method. Press the button below and your browser should prompt you to activate your token.</p>
        <p class="card-text">If no browser popup appears, refresh the page and try again. If you do get a browser popup but do not get redirected after you activate your token, try refreshing the page and try again. If you have tried refreshing the page multiple times but still are not getting a prompt from your browser, it might not support the WebAuthn API for FIDO2 authentication.</p>
        <p class="card-text">If you are pressing the button on your token but the browser prompt will not go away, you are probably using the wrong key. Double check to make sure you have the right key plugged in.</p>
        <%= form_with scope: :session, url: account_security_2fa_u2f_delete_with_u2f_path(params[:token_id]), id: "new-session", data: { controller: "new-session", action: "ajax:success->new-session#create ajax:error->new-session#error" } do |form| %>
          <%= form.submit "Prompt for Token", class: "btn btn-primary" %>
        <% end %>
        
        <div class="mt-3 mb-3">
          <span class="card-text">If your device does not support WebAuthn U2F or your token is not working, please contact the admin. In the future, consider enabling TOTP as a fallback 2FA method, as it works on all devices, even if you have JavaScript disabled.</span>
        </div>
        <%= link_to "Retry U2F", account_security_2fa_u2f_delete_with_u2f_path(params[:token_id]), :class => "btn btn-secondary" %>
        <%- if @user_has_totp %>
          <div class="mt-3 mb-3">
            <span class="card-text">Device incapable of U2F? Token not working? Try using TOTP instead.</span>
          </div>
          <%= link_to "Use TOTP Code", account_security_2fa_u2f_delete_with_totp_path(params[:token_id]), :class => "btn btn-warning" %>
        <% elsif @user_has_recovery_codes %>
          <div class="mt-3 mb-3">
            <span class="card-text">If your device does not support WebAuthn U2F or your token is not working, try a recovery code. In the future, consider enabling TOTP as a fallback 2FA method.</span>
          </div>
          <%= link_to "Use Recovery Code", account_security_2fa_u2f_delete_with_totp_path(params[:token_id]), :class => "btn btn-warning" %>
        <% end -%>
        <div class="mt-3 mb-3">
          <%= link_to "Back to Manage Tokens", account_security_2fa_u2f_keys_path, :class => "btn btn-primary" %>
          <%= link_to "Back to Account Security", account_security_path, :class => "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%#= render "devise/shared/links" %>