<%= render "devise/shared/account_title" %>

<div class="row">
  <div class="col">
    <%= render "devise/shared/account_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <h4 class="card-title">Delete U2F Token</h4>
        <h6 class="card-title">Authenticate via One-Time Password (TOTP) or Recovery Code</h6>
        <p class="card-text">You must use an existing 2FA method to disable a 2FA method.</p>
        <%= form_for(User.new, url: account_security_2fa_u2f_delete_with_totp_path(params[:token_id])) do |f| %>
          <div class="field form-group">
            <%= f.label :otp_attempt, "Type the recovery code or enter the time-based code on your device's Authy, Duo, Google Authenticator, or other TOTP app.", :class => "card-text" %>
            <%= f.text_field :otp_attempt, :value => "", :class => "form-control", :autocomplete => "off", :autofocus => "true" %>
            <%- if @user_has_totp %>
              <small id="otp_attemptHelp" class="form-text text-muted">If you have lost your device, use a recovery code. If you never generated any recovery codes, contact the administrator.</small>
            <% else %>
              <small id="otp_attemptHelp" class="form-text text-muted">You cannot use the same recovery code twice, so make sure to generate new codes after you login. If you have run out of codes or they are not working, contact the administrator.</small>
            <% end -%>
          </div>
          
          <%= f.submit "Submit", :class => "btn btn-primary", :role => "button" %>
          <%- if @user_has_u2f %>
            <%= link_to "Use U2F Token", account_security_2fa_u2f_delete_with_u2f_path(params[:token_id]), :class => "btn btn-warning" %>
          <% end -%>
        <% end %>
        <div class="mt-3 mb-3">
          <%= link_to "Back to Manage Tokens", account_security_2fa_u2f_keys_path, :class => "btn btn-primary" %>
          <%= link_to "Back to Account Security", account_security_path, :class => "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%#= render "devise/shared/links" %>
