<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <hr />
    <div id="error_explanation">
      <h4><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h4>
      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group hide">
    <%= form.label :msg_id, for: :msg_id %>
    <%= form.number_field :msg_id, id: :msg_id, :min => "1", :value => params[:msg_id], :readonly => true, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <div class="mb-2">
      <%= form.label :report_reason, :class => "mb-0" %><span> (maximum <%= Rails.configuration.application[:common][:string_type_max_length] %> characters):</span>
    </div>
    <%= form.text_field :report_reason, :id => "report_reason", :class => "form-control" %>
    <small id="report_reasonHelp" class="form-text text-muted">Potential reporting reasons include personal information (address, phone number, etc.), highly objectional links, illegal content, etc.</small>
    <small id="report_reasonHelp" class="form-text text-muted">Abusing the reports system may result in your account being banned.</small>
  </div>

  <div class="actions">
    <%= form.submit "Submit Report", :class => "btn btn-primary" %>
    <%= link_to "View Your Reports", reports_path, :class => "btn btn-secondary" %>
  </div>
<% end %>
