<%= form_with(model: report, local: true, url: edit_report_path(@report)) do |form| %>
  <% if report.errors.any? %>
    <hr />
    <div id="error_explanation">
      <h4><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h4>
      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <div class="mb-2">
      <%= form.label :msg_text, "New Message", :class => "mb-0" %>
    </div>
    <%= form.text_field :msg_text, :class => "form-control" %>
    <small id="report_reasonHelp" class="form-text text-muted">Replace edited elements with [redacted], e.g. "My SSN is 123-45-6789." → "My SSN is [redacted]".</small>
  </div>

  <div class="actions">
    <%= form.submit "Edit", :class => "btn btn-warning" %>
    <%= link_to "Back", report_path(@report), :class => "btn btn-secondary" %>
  </div>
<% end %>
