<h2>Editing Message Copy</h2>

<div style="height: 1.0em;"><br></div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p class="card-text">Original Message:</p>
        <table class="table table-responsive col-sm-5 p-0">
          <!-- No table header because I can't disable the bold text -->
          <tbody>
            <tr>
              <td>Channel</td>
              <td><%= @report.msg_channel %></td>
            </tr>
            <tr>
              <td>Sender</td>
              <td><%= @report.msg_sender %></td>
            </tr>
            <tr>
              <td>Message</td>
              <td><%= @report.msg_text %></td>
            </tr>
            <tr>
              <td>Date/Time</td>
              <td><%= ApplicationHelper.datetime_to_str(@report.msg_date, show_offset: true) %></td>
            </tr>
          </tbody>
        </table>
        <p class="card-text">This does not modify the original chat log entry, this should be done after resolving a report to remove sensitive or illegal content. If this is not the case, the copy of the message saved with the report should be left intact for administrative review purposes.</p>
        <%= render 'msg_edit_form', report: @report %>
      </div>
    </div>
  </div>
</div>
