<h2>Report Message</h2>
<div style="height: 1.0em;"><br></div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p class="card-text">Original Message:</p>
        <div class="table-responsive">
          <table class="table">
            <!-- No table header because I can't disable the bold text -->
            <tbody>
              <tr>
                <td class="col-sm-1">Channel</td>
                <%# Using "col-sm-1" applies it to the entire column, not just 1 cell %>
                <td><%= @chat_log.channel %></td>
              </tr>
              <tr>
                <td>Sender</td>
                <td><%= @chat_log.sender %></td>
              </tr>
              <tr>
                <td>Message</td>
                <td><%= @chat_log.message %></td>
              </tr>
              <tr>
                <td>Date/Time</td>
                <td><%= ApplicationHelper.datetime_to_str(ApplicationHelper.datetime_from_epoch(@chat_log.date), show_offset: true, show_seconds: true) %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <%= render 'form', report: @report %>
      </div>
    </div>
  </div>
</div>
