<h2>Report Message</h2>
<div style="height: 1.0em;"><br></div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p class="card-text">Original Message:</p>
        <table class="table table-responsive col-sm-5 p-0">
          <!-- No table header because I can't disable the bold text -->
          <tbody>
            <tr>
              <td>Channel</td>
              <td><%= @report.msg_channel %></td>
            </tr>
            <tr>
              <td>Sender</td>
              <td><%= @report.msg_sender %></td>
            </tr>
            <tr>
              <td>Message</td>
              <td><%= @report.msg_text %></td>
            </tr>
            <tr>
              <td>Date/Time</td>
              <td><%= ApplicationHelper.datetime_to_str(@report.msg_date, show_offset: true) %></td>
            </tr>
          </tbody>
        </table>
        <p class="card-text">Report Details:</p>
        <table class="table table-responsive col-sm-5 p-0">
          <!-- No table header because I can't disable the bold text -->
          <tbody>
            <tr>
              <td>Reporter</td>
              <%- if @report.user_id %>
                <td>Name: <%= User.find_by_id(@report.reporter).name %><br />
                    Email: <%= User.find_by_id(@report.reporter).email %><br />
                    User ID: <%= @report.reporter %> (<span title="Not yet implemented; will be added with admin console"><%= link_to "View Profile", root_path %></span>)
                </td>
              <% else %>
                <td>User ID: <%= @report.reporter %><br />
                    (User has deleted account)
                </td>
              <% end -%>
            </tr>
            <tr>
              <td>Reason</td>
              <td><%= @report.report_reason %></td>
            </tr>
            <tr>
              <td>Reported on</td>
              <td><%= ApplicationHelper.datetime_to_str(@report.created_at, show_offset: true) %></td>
            </tr>
            <tr>
              <td>Resolved?</td>
              <%- if @report.resolved? %>
                <td>Yes<br>
                    Action taken: <%= @report.resolving_action %></td>
              <% else %>
                <td>No</td>
              <% end -%>
            </tr>
            <%- if @report.resolved? %>
              <tr>
                <td>Resolved on</td>
                <td><%= ApplicationHelper.datetime_to_str(@report.resolved_at, show_offset: true) %></td>
              </tr>
              <tr>
                <td>Resolver</td>
                <%- if User.find_by_id(@report.resolver) %>
                  <td>Name: <%= User.find_by_id(@report.resolver).name %><br />
                      Email: <%= User.find_by_id(@report.resolver).email %><br />
                      User ID: <%= @report.resolver %> (<span title="Not yet implemented; will be added with admin console"><%= link_to "View Profile", root_path %></span>)
                  </td>
                <% else %>
                  <td>User ID: <%= @report.resolver %><br />
                      (User has deleted account)
                  </td>
                <% end -%>
              </tr>
            <% end -%>
          </tbody>
        </table>
        <%- if @chat_log %>
          <div class="actions">
            <p class="card-text">To modify or delete the message, click the button below (you will automatically be redirected back to this page to fill in the action taken field afterwards).</p>
            <p class="card-text">If you edit or delete the message, the table above will not change because it is a duplicate of the original message for administrative purposes.</p>
            <%= link_to 'Edit/Delete Message', edit_chat_log_path(@chat_log), :class => "btn btn-danger" %>
          </div>
          <br />
        <% else %>
          <p class="card-text">The message appears to have been deleted, no further edits can be made. (The table above has a duplicate of the original message kept for administrative purposes.)</p>
        <% end -%>

        <%= render 'resolve_form', report: @report %>
      </div>
    </div>
  </div>
</div>
