<!DOCTYPE html>
<html>
  <head>
    <%= generate_header_tags.html_safe %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <%= render 'application/favicon' %>
    <meta name="theme-color" content=<%= current_user&.css_theme_color || ApplicationHelper.default_theme_color %> />
    <%= stylesheet_link_tag current_user&.css_theme || :application, media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# if Rails.env.production? %>
      <%#= render 'applications/rollbar_js' %>
    <%# end %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <br />
    <br />
    <div class="content mx-4 mt-1 justify-content-center">
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <% if value.is_a? String %>
            <%= value.html_safe %>
          <% elsif value.is_a? Array %>
            <% value.each do |v| %>
              <%= v.html_safe %>
            <% end %>
          <% elsif value.is_a? Hash %>
            <% value.each do |k, v| %>
              <% if v.is_a? Array %>
                <% v.each do |_v| %>
                  <%= "#{k.html_safe} - #{_v.html_safe}" %>
                <% end %>
              <% else %>
                <%= "#{k.html_safe} - #{v.html_safe}" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
      <br />
      <br />
      <div class="justify-content-center text-center">
        <p>© 2018-2020 <a href="https://luna.lucadou.sh/">Luna Lucadou</a> | <a href="https://gitlab.com/lucadou/irc-log-explorer">Source Code</a> | <%= link_to 'Terms of Service', policy_tos_path %><%= " | #{Rails.configuration.application[:footer][:append]}".html_safe if Rails.configuration.application[:footer][:append].to_s.length > 0 %></p>
      </div>
      <br />
    </div>
  </body>
</html>
